body.loading,
body.loading * {
  display: none;
}
body {
  min-height: 600px;
}
#error-message-body {
  white-space: pre-wrap;
}
#last-moved-message {
  display: none;
}
#last-moved-message table th {
  width: 1px;
  white-space: nowrap;
}
